In [1]:
# import module written for processing our gene mapping to gene ID, filter with e-value, pident
from network_analysis.map_string_to_ID import *

# node_path referes to diamond blastp --in REPRESENTING GENE --db string.dmnd
node_path = '/home/hermuba/data0118/map_to_exist_net/EcoliNet/ec_rmplasmid_ecolinet'
node = read_node_to_df(node_path)

In [2]:
# select nodes with high bitscore with string 511145 proteins
selected_nodes = filter_node(node)

In [3]:
selected_nodes.shape

(9354, 4)

In [4]:
# read the edge
edge_path = '/home/hermuba/data0118/map_to_exist_net/EcoliNet/EcoliNet.v1.txt'
edge = pd.read_csv(edge_path, sep = '\t', header = None, names = ['Protein A', 'Protein B', 'Score'])

In [5]:
edge.head()

  Protein A Protein B     Score
0     b0723     b0724  6.255638
1     b0032     b0033  6.254619
2     b0722     b0723  6.254266
3     b0726     b0727  6.207392
4     b2751     b2752  6.204997

In [6]:
# map selected nodes to b number
root_dir = '/home/hermuba/data0118/map_to_exist_net/EcoliNet/'
b_number = pd.read_csv(root_dir+'ecoli_proteome.tab', sep = '\t')

In [7]:
b_number.head()

,Entry,Entry name,Status,Protein names,Gene names,Organism,Length,Gene names (ordered locus ),Gene names (ORF ),Gene names (primary ),Gene names (synonym )
0,P21515,ACPH_ECOLI,reviewed,Acyl carrier protein phosphodiesterase (ACP ph...,acpH yajB b0404 JW0394,Escherichia coli (strain K12),193,b0404 JW0394,NaN,acpH,yajB
1,P00509,AAT_ECOLI,reviewed,Aspartate aminotransferase (AspAT) (EC 2.6.1.1...,aspC b0928 JW0911,Escherichia coli (strain K12),396,b0928 JW0911,NaN,aspC,NaN
2,P0ABD5,ACCA_ECOLI,reviewed,Acetyl-coenzyme A carboxylase carboxyl transfe...,accA b0185 JW0180,Escherichia coli (strain K12),319,b0185 JW0180,NaN,accA,NaN
3,P26459,APPC_ECOLI,reviewed,Cytochrome bd-II ubiquinol oxidase subunit 1 (...,appC cbdA cyxA b0978 JW0960,Escherichia coli (strain K12),514,b0978 JW0960,NaN,appC,cbdA cyxA
4,P77398,ARNA_ECOLI,reviewed,Bifunctional polymyxin resistance protein ArnA...,arnA pmrI yfbG b2255 JW2249,Escherichia coli (strain K12),660,b2255 JW2249,NaN,arnA,pmrI yfbG

In [8]:
def get_bnumber(gene_names):
    
    if type(gene_names) == str:
        gene_names = gene_names.split(' ')
        for name in gene_names:
            if name[0] == 'b' and len(name) == 5:
                return name


b_number['EcoliNet_id'] = b_number['Gene names'].map(lambda x:get_bnumber(x))

In [9]:
selected_nodes.head()

,qseqid,sseqid,pident,evalue
10,JMUY01000001_53|1438670.3,tr|A0A6D2X5X6|A0A6D2X5X6_ECOLI,99.9,0.000000e+00
11,JMUY01000001_53|1438670.3,sp|P18775|DMSA_ECOLI,99.8,0.000000e+00
20,JMUY01000001_56|1438670.3,tr|A0A6D2WRL0|A0A6D2WRL0_ECOLI,99.5,1.200000e-120
21,JMUY01000001_56|1438670.3,sp|P21367|YCAC_ECOLI,99.0,2.600000e-120
22,JMUY01000001_60|1438670.3,sp|P0AC23|FOCA_ECOLI,99.3,7.000000e-162

In [10]:
selected_nodes['sseqid'] = selected_nodes['sseqid'].str.split('|', expand = True)[2] # Entry Name
selected_nodes['EcoliNet-id'] = selected_nodes['sseqid'].map(b_number.set_index('Entry name')['EcoliNet_id'])

In [11]:
selected_nodes.dropna(inplace = True)
selected_nodes = selected_nodes.drop_duplicates('EcoliNet-id')

In [12]:
selected_nodes

,qseqid,sseqid,pident,evalue,EcoliNet-id
11,JMUY01000001_53|1438670.3,DMSA_ECOLI,99.8,0.000000e+00,b0894
21,JMUY01000001_56|1438670.3,YCAC_ECOLI,99.0,2.600000e-120,b0897
22,JMUY01000001_60|1438670.3,FOCA_ECOLI,99.3,7.000000e-162,b0904
29,JMUY01000001_62|1438670.3,YCAP_ECOLI,99.6,1.300000e-128,b0906
31,JMUY01000001_63|1438670.3,SERC_ECOLI,98.9,8.700000e-212,b0907
...,...,...,...,...,...
41117,MJAL01000176_5|562.13502,YHIJ_ECOLI,99.4,0.000000e+00,b3488
41126,MJAL01000183_52|562.13502,AROK_ECOLI,100.0,8.700000e-93,b3390
41160,562.23364.con.0016_86|562.23364,LPPY_ECOLI,100.0,4.000000e-18,b4246
41164,562.23720.con.0032_1|562.23720,DGOT_ECOLI,99.8,1.900000e-245,b3691
41171,562.23894.con.0003_158|562.23894,HYAF_ECOLI,97.2,2.700000e-163,b0977

In [13]:
selected_nodes.set_index('EcoliNet-id', inplace = True)

In [14]:
selected_nodes['qseqid']

EcoliNet-id
b0894           JMUY01000001_53|1438670.3
b0897           JMUY01000001_56|1438670.3
b0904           JMUY01000001_60|1438670.3
b0906           JMUY01000001_62|1438670.3
b0907           JMUY01000001_63|1438670.3
                       ...
b3488            MJAL01000176_5|562.13502
b3390           MJAL01000183_52|562.13502
b4246     562.23364.con.0016_86|562.23364
b3691      562.23720.con.0032_1|562.23720
b0977    562.23894.con.0003_158|562.23894
Name: qseqid, Length: 4250, dtype: object

In [15]:
edge['gene_one'] = edge['Protein A'].map(selected_nodes['qseqid'])
edge['gene_two'] = edge['Protein B'].map(selected_nodes['qseqid'])

edge.dropna(how = 'any', inplace = True) # we do not need interaction between genes that does not exist in our net

# drop useless columns
edge.drop(labels = ['Protein A', 'Protein B'], axis = 1, inplace = True)

In [16]:
edge.shape

(94863, 3)

In [17]:
edge.head()

      Score                         gene_one                    gene_two
0  6.255638       JMUY01000005_480|1438670.3  JMUY01000005_481|1438670.3
1  6.254619  562.22738.con.0013_68|562.22738  FLWH01000007_175|562.12962
2  6.254266       JMUY01000005_479|1438670.3  JMUY01000005_480|1438670.3
3  6.207392       FLWH01000001_625|562.12962  FLWH01000001_624|562.12962
4  6.204997       JMUY01000002_367|1438670.3  JMUY01000002_368|1438670.3

In [ ]:
edge.to_csv(root_dir + ec_rm_plasmid)